<!DOCTYPE html>
<html lang="{{ site.Language.Locale | default "ko-KR" }}">
  {{ partial "head.html" . }}
  <body>
    <a class="visually-hidden-focusable" href="#main-content">Skip to content</a>
    {{ partial "sidebar.html" . }}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container d-flex flex-column px-xxl-5">
        {{ partial "topbar.html" . }}
        {{ partial "search-results.html" . }}

        <div class="row flex-grow-1">
          <main id="main-content" aria-label="Main Content" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {{ block "main" . }}{{ end }}
          </main>

          {{ partial "panel.html" . }}
        </div>

        <div class="row">
          <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {{ block "tail" . }}{{ end }}
            {{ partial "footer.html" . }}
          </div>
        </div>
      </div>
    </div>

    <aside aria-label="Scroll to Top">
      <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow" aria-label="Back to top">
        <i class="fas fa-angle-up"></i>
      </button>
    </aside>
    <div id="mask" class="d-none position-fixed w-100 h-100 z-1"></div>
    {{ partial "search-data.html" . }}
    <script src="{{ "js/main.js" | relURL }}?v=chirpy-refine-16"></script>
  </body>
</html>
