<script type="application/json" id="search-data">[
{{- $posts := where site.RegularPages "Section" "posts" -}}
{{- range $index, $post := $posts -}}
  {{- if gt $index 0 -}},{{- end -}}
  {{- $summary := or $post.Description ($post.Summary | plainify) | truncate 240 -}}
  {{- $entry := dict
    "title" $post.Title
    "url" $post.RelPermalink
    "date" ($post.Date.Format "2006/01/02")
    "summary" $summary
    "categories" (or $post.Params.categories (slice))
    "tags" (or $post.Params.tags (slice))
  -}}
  {{- $entry | jsonify | safeJS -}}
{{- end -}}
]</script>
