{{ $tags := site.Taxonomies.tags.ByCount }}
{{ if gt (len $tags) 0 }}
  {{ $tagsURL := "tags/" | relURL }}
  {{ with site.GetPage "/tags" }}{{ $tagsURL = .RelPermalink }}{{ end }}
  <li class="sidebar-taxonomy nested-taxonomy sidebar-taxonomy-tags">
    <ul class="taxonomy-list taxonomy-tags">
    {{ range first 10 $tags }}
      <li>
        <a class="taxonomy-link" href="{{ .Page.RelPermalink }}">
          <span class="taxonomy-name">{{ .Term }}</span>
          <span class="taxonomy-count">{{ .Count }}</span>
        </a>
      </li>
    {{ end }}
    </ul>
    <a class="taxonomy-more" href="{{ $tagsURL }}">전체 태그 보기</a>
  </li>
{{ end }}
